@tailwind base;
@tailwind components;
@tailwind utilities;


.title{
  @apply text-3xl md:text-5xl text-center font-bold my-10
}

.btn{
  @apply bg-amber-600 hover:bg-amber-500 hover:tracking-wider rounded-sm text-white uppercase p-1 w-3/5 mx-auto transition-all 
}
.btn-modal{
  @apply bg-amber-600 hover:bg-amber-500 hover:tracking-wider rounded-sm text-white uppercase p-1 w-4/5 mx-auto transition-all 
}
.btn-sm{
  @apply bg-indigo-500 hover:bg-indigo-400 rounded-sm text-white capitalize p-1 w-2/3 xl:w-3/5 mx-auto text-lg my-4 transition-all 
}

.grilla{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(280px, 1fr) );
  gap: 2rem;
}

.contenedor{
  @apply container w-11/12 mx-auto pb-10
}